.swiper-mobile-banner,.swiper-pc-banner{
    display: none;
}
@media screen and (min-width: 767px) {
    .home .swiper-pc-banner {
        display: block;
    }
}
@media screen and (max-width: 749px){
    .home  .swiper-mobile-banner {
        display: block;
    }
}
.shoptimizer-archive .product .product-details-wrapper .cgkit-as-variation-price {
    display: none !important;
}
.shoptimizer-archive .product .product-details-wrapper .cgkit-as-variation-price+.product-label{
    display: none !important;
}