.swiper-mobile-banner,.swiper-pc-banner{
    display: none;
}
@media screen and (min-width: 767px) {
    .page-template .swiper-pc-banner {
        display: block;
    }
}
@media screen and (max-width: 749px){
    .page-template .swiper-mobile-banner {
        display: block;
    }
}